@font-face {
    font-family: 'Stormfaze';
    src: url('/font/Stormfaze.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akira Expanded Demo';
    src: url('/font/AkiraExpandedDemo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Inter', 'Poppins', sans-serif;
}

.title-stormfaze {
    font-family: 'Stormfaze', sans-serif;
}

.title-akira {
    font-family: 'Akira Expanded Demo', sans-serif;
}

.gradient-gray {
    background: linear-gradient(180deg, #E6E6E6 0%, #959595 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
